{% extends 'task/main.html'%}
{% load crispy_forms_tags %}

{%block title%} Home{%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6  mx-auto">
            <h2>Add Task</h2>
            <form method="POST" action="">
                {% csrf_token %}
             
                {{form|crispy}}
        
                <button class="btn btn-primary m-1 text-center" type="submit">Add Task</button>
        
            </form>
        </div>
      
    </div>
</div>



{%endblock%}